h1{
    color:#DD8C96;
    
}

.button {
border: 2px solid#DD8C96;
    border-radius: 12px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 15px 10px;
  cursor: pointer;
}

.button1 {
    background-color: #ffe1ef;
    color:black;;
} 

.button1:hover {
    background-color: #f4db9a;
    color: #9b3160;

}

.button2 {
   background-color: #ffe1ef;
    color:rgb(25, 0, 0);

}

.button2:hover {
    background-color: #9b3160;
    color: #f4db9a;
}